/* Global */
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  color: rgb(49, 49, 49);
  font-size: 1.2rem;

  /* Colors */
  --primary-accent: hsla(208, 100%, 45%, 1);
  --secondary-accent: hsla(37, 92%, 53%, 1);
  --neutral-gray: rgb(28, 73, 112);
  --neutral-brown: hsla(37, 36%, 69%, 1);
  --dark-blue: hsla(210, 76%, 18%, 1);

  /* Fonts */
  --heading-font: "Libre Baskerville", serif;
  --body-font: "Source Sans 3", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 4rem 1rem;
}

@media only screen and (max-width: 630px) {
  section {
    padding: 2rem 1rem;
  }
}

/* Typography */

body {
  font-family: var(--body-font);
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  margin-bottom: 1rem;
}

section h2,
section h3 {
  color: var(--dark-blue);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

p {
  margin-bottom: 0.8rem;
  line-height: 1.5rem;
}

/* Components */
.primary-btn {
  color: white;
  text-decoration: none;
  background-color: var(--primary-accent);
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  transition: ease-in-out 0.4s;
  display: inline-block;
}

.primary-btn:hover {
  background-color: var(--primary-accent);
  padding: 0.4rem 1.5rem;
  border-radius: 2rem;
  filter: brightness(115%);
  transition: ease-in-out 0.1s;
}

@media only screen and (max-width: 790px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

/* Navigation */
nav {
  background-color: var(--dark-blue);
  display: flex;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo img {
  width: auto;
  height: 2.7rem;
  padding-top: 0.2rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  margin: auto 1rem auto auto;
  font-size: 1rem;
}

nav li {
  list-style: none;
  margin: auto 0;
  flex-shrink: 0;
}

nav a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  transition: ease-in-out 0.2s;
}

nav a:hover {
  color: var(--primary-accent);
  transition: ease-in-out 0.1s;
}

nav .primary-btn:hover {
  color: white;
}

@media only screen and (max-width: 790px) {
  nav .primary-btn {
    display: none;
  }
}

@media only screen and (max-width: 674px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav ul {
    margin: 0.6rem auto 0.2rem;
  }
}

/* Header */
header {
  background: no-repeat url(../assets/images/header-banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  color: hsl(0, 0%, 100%);
  text-align: center;
  align-content: center;
}

.banner {
  font-size: 1.5rem;
  flex-basis: 100%;
  padding: 2rem 3rem;
  margin: 20rem 0;
  background-color: rgba(11, 46, 81, 0.532);
}

@media only screen and (max-width: 790px) {
  .banner {
    font-size: 1rem;
    margin: 15rem 0;
    padding: 2rem 1rem;
  }

  h1 {
    margin-bottom: 0.5rem;
  }
}

/* About */
#about {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: stretch;
}

#about .content {
  padding-left: 2rem;
  margin: auto 0;
}

#about img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;

  object-fit: cover;
  object-position: center;
}

#about p {
  max-width: 60ch;
  min-width: 50ch;
  line-height: 1.8rem;
}

@media only screen and (max-width: 45rem) {
  #about {
    grid-template-columns: 1fr;
  }

  #about img {
    aspect-ratio: 2 / 1;
  }

  #about .content {
    padding: 0;
    padding-top: 2rem;
  }

  #about p {
    max-width: 100%;
    min-width: auto;
    line-height: 1.8rem;
  }
}
/* Gallery */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 15rem;
  gap: 1rem;
}

.gallery-grid img {
  object-fit: cover;
  object-position: 32% 25%;
  height: 100%;
  border-radius: 0.5rem;
}

.gallery-img.col-span {
  grid-column: span 2;
}

.gallery-img.row-span {
  grid-row: span 2;
}

@media only screen and (max-width: 48rem) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 450px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-img.col-span {
    grid-column: span 1;
  }

  .gallery-img.row-span {
    grid-row: span 1;
  }
}

/* Events */
.events-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: auto;
  gap: 1rem;
}

.events-grid img {
  object-fit: cover;
  margin-bottom: 1.2rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.events-post {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.events-post .content {
  padding-left: 1rem;
  margin: auto;
}

.date {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: hsl(0, 0%, 34%);
}

@media only screen and (max-width: 777px) {
  .events-post {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 450px) {
  .events-post {
    grid-template-columns: 1fr;
  }
}

/* Tutorials */
.tutorials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.tutorials-grid img {
  aspect-ratio: 6/4;
  object-fit: cover;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 777px) {
  .tutorials-grid {
    grid-template-columns: 1fr;
  }

  .tutorials-grid img {
    aspect-ratio: 2/1;
    object-fit: cover;
    margin-bottom: 1.2rem;
    border-radius: 0.5rem;
  }
}
/* Membership */
#membership {
  background: no-repeat url(../assets/images/signup-banner.jpg);
  background-size: cover;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 0;
}

.membership-content {
  background-color: hsla(210, 76%, 18%, 0.7);
  padding: 6rem 1rem;
}

.membership-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.membership-cta div {
  display: inline-block;
  margin: 1rem;
}

.membership-cta button {
  display: block;
  margin: 0 auto;
}

.form-container {
  display: inline-block;
  border-radius: 2rem;
  background-color: white;
}

input[type="email"] {
  padding: 0.7rem;
  border-radius: 2rem;
  border-style: none;
  font-size: 1rem;
}

input[type="email"]:focus::placeholder {
  color: var(--primary-accent);
  outline: unset;
}

input[type="email"]:focus {
  outline: transparent;
}

form button:focus {
  background-color: rgb(250, 173, 49);
  transition: ease-in-out 0.1s;
  outline: transparent;
}

form button {
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  border-style: none;
  position: relative;
  background-color: var(--secondary-accent);
  color: white;
  font-size: 1rem;
}

form button:hover {
  transition: ease-in-out 0.1s;
  filter: brightness(115%);
}

@media only screen and (max-width: 380px) {
  .form-container {
    background-color: transparent;
  }

  input[type="email"] {
    width: 100%;
  }

  form button {
    margin: auto;
    margin-top: 1rem;
    padding: 0.7rem 3rem;
  }
}

/* Footer */
footer {
  background-color: var(--neutral-gray);
}
.copyright {
  padding: 1.5rem 3rem;
  background-color: var(--dark-blue);
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.582);
}
.contact-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 1.1rem;
  line-height: 2rem;
  color: white;
}
.contact-block i::before {
  display: inline;
  position: relative;
  top: 3px;
  margin-right: 1rem;
}
.contact-block img {
  height: 3.8rem;
  margin-left: auto;
  width: auto;
}
@media only screen and (max-width: 845px) {
  .contact-block {
    text-align: center;
  }
  .contact-block img {
    display: none;
  }
  .contact-block div {
    flex-basis: 100%;
  }
  .copyright {
    text-align: center;
  }
}
